extends users

block usercontent
  .row
    //- 更新某个用户个人信息
    form(
      action="/user/userlist/update?name="+edituser.name
      method="post"
    )
      table.table.table-hover
        //- 显示用户名
        tr
          td 用户名
          td= edituser.name
        //- 显示用户权限
        tr
          td 用户角色
          - if (edituser.role == 0)
            td 普通用户
          - else if (edituser.role == 1)
            td 管理员
          - else
            td 超级管理员
        //- 修改邮箱
        tr
          td 邮箱
          td
            input(
              type="email"
              value=edituser.email
              name="edit[email]"
            )
        //- 修改电话
        tr
          td 电话
          td
            input(
              type="text"
              value=edituser.phone
              name="edit[phone]"
            )
        //- 修改QQ
        tr
          td QQ
          td
            input(
                type="text"
                value=edituser.QQ
                name="edit[QQ]"
              )
        //- 修改学院
        tr
          td 学院
          td
            input(
                type="text"
                value=edituser.college
                name="edit[college]"
              )
        //- 修改地址
        tr
          td 地址
          td
            input(
              type="text"
              value=edituser.address
              name="edit[address]"
            )
      hr
      //- 提交按钮
      button.btn.btn-success(
        type="submit"
      ) 提交