extends users

block usercontent
  - var type = ['fpsw', 'psw']
  mixin userpassword(i, iterm)
    .row
      .col-sm-3
        p.plain.detail= iterm
      .col-sm-9
        - if (i < 2)
          input(
            id="update"+type[i]
            type="password"
            name=type[i]
          )
        - else
          input#updatepswconf(type="password")

  .row
    h3.usertitle 修改密码
  hr
  form(
    method="post"
    action="/user/userpassword"
    onsubmit="return check('update')"
  )
    +userpassword(0, "原密码")
    +userpassword(1, "新密码")
    +userpassword(2, "新密码确认")
    hr
    button.btn.btn-success(
      type="submit"
      id="updatepsw"
    ) 保存

