extends users

block usercontent
  .row.table-responesive
    //- 用户列表表格
    table.table.table-hover
      //- 表格每列标题
      thead
        tr
          th
          th.thstyle 用户名
          th.thstyle 用户角色
          th.thstyle 邮箱
          th.thstyle 电话
          th.thstyle QQ
          th.thstyle 学院          
          th.thstyle 地址
          th.thstyle 修改
          th.thstyle 删除
          //- 只有超级管理员才可以管理权限
          - if (user.role == 2)
            th.thstyle 权限
      //- 表格主体
      tbody
        - var i = 1
        //- 遍历所有用户
        each u in userlist
          - if (user.role >= u.role)
            //- 若用户i权限小于等于当前用户权限
            - if (user.name == u.name)
              //- 若为当前用户
              tr.warning
                //- 显示相关信息
                td= i
                td= u.name
                - if (u.role == 0)
                  td 普通用户
                - else if (u.role == 1)
                  td 管理员
                - else 
                  td 超级管理员
                td= u.email
                td= u.phone
                td= u.QQ
                td= u.college
                td= u.address
                //- 编辑个人信息按钮
                td
                  a.btn.btn-success.btn-sm(
                    type="button"
                    href="/user/userupdate"
                  )
                    span.glyphicon.glyphicon-pencil(
                      aria-hidden="true"
                    )
                td
                td
                - i = i + 1
            - else
              //- 若不为当前用户
              - if (u.role == 2)
                - type = "success"
              - else if (u.role == 1)
                - type = "info"
              - else
                - type = "danger"
              tr(class=type)
                //- 显示用户i的相关信息
                td= i
                td= u.name
                - if (u.role == 0)
                  td 普通用户
                - else if (u.role == 1)
                  td 管理员
                - else 
                  td 超级管理员
                td= u.email
                td= u.phone
                td= u.QQ
                td= u.college
                td= u.address
                td
                  //- 当用户i权限严格小于当前用户权限时，当前用户可编辑其个人信息
                  - if (u.role < user.role)  
                    a.btn.btn-success.btn-sm(
                      type="button"
                      href="/user/userlist?action=edituser&name="+u.name
                    )
                      span.glyphicon.glyphicon-pencil(
                        aria-hidden="true"
                      )
                td
                  //- 当用户i权限严格小于当前用户权限时，当前用户可删除该用户
                  - if (u.role < user.role)  
                    a.btn.btn-success.btn-sm(
                      type="button"
                      href="/user/userlist?action=deleteuser&name="+u.name
                    )
                      span.glyphicon.glyphicon-remove(
                        aria-hidden="true"
                      )
                - if (user.role == 2)
                  //- 提升/降低权限功能，只限于超级管理员
                  td
                    - if (u.role == 0)
                      //- 普通用户可被提升权限
                      a.btn.btn-success.btn-sm(
                        type="button"
                        href="/user/userlist?action=upuserlevel&name="+u.name
                      )
                        span.glyphicon.glyphicon-arrow-up(
                          aria-hidden="true"
                        )
                    - else if (u.role == 1)
                      //- 管理员可被降低权限
                      a.btn.btn-success.btn-sm(
                        type="button"
                        href="/user/userlist?action=downuserlevel&name="+u.name
                      )
                        span.glyphicon.glyphicon-arrow-down(
                          aria-hidden="true"
                        )
                - else
                  td
                - i = i + 1