extends ../layout

block content
  .row
    .col-sm-3.sidebar
      ul.nav.nav-pills.nav-stacked.list-group
        li
          .panel-group#accordion0(
            role="tablist"
            aria-multiselectable="true"
          )
            .panel
              .panel-heading#usercenter(
                role="tab"
              )
                h4.panel-title
                  a(
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion0"
                    href="#collapse0"
                    aria-expanded="true"
                    aria-controls="collapse0"
                  ) 个人中心
              #collapse0.panel-collapse.collapse.in(
                role="tabpanel"
                aria-labelledby="usercenter"
              )
                ul.list-group
                  li.list-group-item
                    a(href="/user/userdetail") 个人信息
                  li.list-group-item
                    a(href="/user/userpassword") 修改密码
        li.divider(role="separator")
        li
          .panel-group#accordion1(
            role="tablist"
            aria-multiselectable="true"
          )
            .panel
              .panel-heading#userlost(
                role="tab"
              )
                h4.panel-title
                  a(
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion1"
                    href="#collapse1"
                    aria-expanded="true"
                    aria-controls="collapse1"
                  ) 丢失信息
              #collapse1.panel-collapse.collapse.in(
                role="tabpanel"
                aria-labelledby="usercenter"
              )
                ul.list-group
                  li.list-group-item
                    a(href="/user/userlost") 用户丢失信息
        li.divider(role="separator")
        li
          .panel-group#accordion2(
            role="tablist"
            aria-multiselectable="true"
          )
            .panel
              .panel-heading#userfound(
                role="tab"
              )
                h4.panel-title
                  a(
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion2"
                    href="#collapse2"
                    aria-expanded="true"
                    aria-controls="collapse2"
                  ) 拾取信息
              #collapse2.panel-collapse.collapse.in(
                role="tabpanel"
                aria-labelledby="usercenter"
              )
                ul.list-group
                  li.list-group-item
                    a(href="/user/userfound") 用户拾取信息
        - if (user.role >= 1)
          li.divider(role="separator")
          li
            a(href="/user/userlist") 用户列表
    .col-sm-9
      br
      block usercontent