extends users

block usercontent
  //- 定义选项数组
  - var type = ['fpsw', 'psw']
  //- 定义单个选项展示mixin
  mixin userpassword(i, iterm)
    .row
      .col-sm-3
        p.plain.detail= iterm
      .col-sm-9
        - if (i < 2)
          input(
            id="update"+type[i]
            type="password"
            name=type[i]
          )
        - else
          input#updatepswconf(type="password")

  .row
    h3.usertitle 修改密码
  hr
  //- 修改密码，提交时先利用js中的check函数进行检测
  form(
    method="post"
    action="/user/userpassword"
    onsubmit="return check('update')"
  )
    //- 显示修改密码各个项目
    +userpassword(0, "原密码")
    +userpassword(1, "新密码")
    +userpassword(2, "新密码确认")
    hr
    //- 保存按钮
    button.btn.btn-success(
      type="submit"
      id="updatepsw"
    ) 保存

